.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    max-width: 1000px;
    margin: 15px auto;
    padding: 12px 25px;
    border-radius: 50px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.45);
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    color: #0077ff;
    text-decoration: none;
    font-style: bold;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 25px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    background-color: #f0f0f0;
}

.home-link {
    color: #007bff !important;
    font-weight: 600 !important;
}
