
.burger {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #0077ff;
  margin-left: 10px;
}

/* Sidebar */
#userSidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background: linear-gradient(to bottom, #0099ff, #ffffff); /* gradient dari biru ke putih */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 999;
  transition: transform 0.3s ease;
}


.sidebar.hidden {
  transform: translateX(-100%);
}

.user-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
  margin-bottom: 10px;
}

.user-name {
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.logout-btn {
  background-color: white;
  color: #0077ff;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: #e0559d;
}

.burger-menu {
  margin-right: 10px;
}

.hidden {
  display: none;
}
